@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}



/* ~~~ BODY ~~~~` */
body {
    font-family: "Golos Text", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191a1b;
}

/*---- HEADER ----*/
header {
    display: inline;
}

.banner {
    font-size: 15px;
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #0e1011;
}


/*---- MAIN ----*/
main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .profile-text {
    color: rgb(253, 211, 24);
  }

h2 {
    color: #ffffff;
}
   
h3 {
    color: #ffffff;
}

p {
    color: white;
}

td {
    color: white;
}

th {
    color: white;
}

#content {
    flex: 2.2;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
    text-align: justify;
}

.myimages {
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 18px;
    float: left;
    margin-right: 22px;
    margin-bottom: 18px;
}


/* _______ ASIDE ______*/
aside {
    flex: 1;
    padding-right: 50px;
}

.myprofile {
    border-radius: 18px;
}

.profile {
    text-align: center;
}

.profile table {
    text-align: left;
}

.socmed ul {
    list-style-type: none;
    margin-left: 0;
    padding-inline: 5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.socmed li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.socmed li a:hover {
    color: rgb(253, 211, 24);
}


/*---- FOOTER ----*/
footer {
    padding: 20px;
    color: #fff;
    background-color: #0e1011;
    text-align: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 2px 8px 2px rgba(19, 14, 46, 0.2);
    border-radius: 50px 0px 50px 0px;
    padding: 30px;
    background-color: #0e1011;
}





/*==================================================================*/
@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }
        
    main aside {
        align-self: center;
    }

}

@media screen and (max-width: 1000px) {
    #content,
    aside {
      width: 100%;
      padding: 0;
    }
}

@media screen and (max-width: 768px) {
    main aside {
        align-self: stretch;
    }
}